{
  "env": {
    "browser": true,
    "es2021": true,
  },
  "extends": ["react-app", "eslint:recommended", "airbnb", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "eqeqeq": "error",
    "dot-notation": "error",
    "no-unused-vars": "error",
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@components", "./src/components"]],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
  },
}
